<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Guide.TaskState</key>
	<dict>
		<key>completedCutsceneIDs</key>
		<array/>
		<key>completedTaskIDs</key>
		<array>
			<string>containers</string>
			<string>entryBanner</string>
			<string>viewSizingChallenge</string>
			<string>patternChallenge</string>
			<string>viewSizing</string>
			<string>alignmentAndSpacing</string>
			<string>sleeptracker2</string>
			<string>debuggingViews</string>
			<string>sleeptracker1</string>
			<string>moodtracker</string>
		</array>
		<key>hasSeenIntro</key>
		<false/>
		<key>pageIDsWithRevealedSolutions</key>
		<dict>
			<key>debuggingViews</key>
			<array>
				<string>6.debugCrown</string>
			</array>
			<key>entryBanner</key>
			<array>
				<string>3.entryBanner</string>
				<string>6.entryBanner</string>
				<string>4.entryBanner</string>
				<string>10.entryBanner</string>
			</array>
			<key>moodtracker</key>
			<array>
				<string>7.moodTitle</string>
				<string>7.moodButton</string>
				<string>7.moodCardFrame</string>
				<string>7.moodTitleEdge</string>
				<string>7.moodButtonPadding</string>
				<string>7.moodPadding</string>
			</array>
			<key>patternChallenge</key>
			<array>
				<string>6.patternChallenge</string>
			</array>
			<key>sleeptracker2</key>
			<array>
				<string>6.complete</string>
			</array>
			<key>viewSizingChallenge</key>
			<array>
				<string>5.viewSizingImage</string>
				<string>3.viewSizing</string>
				<string>7.viewSizingImageFrame</string>
				<string>9.viewSizingFont</string>
			</array>
		</dict>
		<key>stepIndex</key>
		<integer>0</integer>
		<key>successMessageShowing</key>
		<false/>
		<key>taskID</key>
		<string>$null</string>
	</dict>
</dict>
</plist>
